<div class="container">
  <table class="table">
    <tr><th>Name <button (click)="sortName()">Sort</button></th><th>Surname <button (click)="sortSurname()">Sort</button></th>
      <th>Patronymic <button (click)="sortPatronymic()">Sort</button></th><th>Birthday <button (click)="sortBirthday()">Sort</button></th>
      <th>Grade <button (click)="sortGrade()">Sort</button></th></tr>
    <tr appIncrease *ngFor="let user of _usersInfo"[class.gradeStyle]="getGrade(user.grade)" [class.nameStyle]="getName(user.name)"
        [style.display]="getFilter(user.birthday, user.grade)">
      <td>{{user.name}}</td>
      <td>{{user.surname}}</td>
      <td>{{user.patronymic}}</td>
      <td>{{user.birthday | birthday}}</td>
      <td>{{user.grade | grade}}</td>
      <a [routerLink]="['/action', 'editStudent', user.id]" [queryParams]="{debug: this.activatedRoute.snapshot.queryParams['debug']}" routerLinkActive="active">Редактировать пользователя</a>
    </tr>
  </table>
  <div class="inputs">
    <a href="#" class="butt" appColor [styleObject]="_styleObject" (click)="turn()" (appColorClick)="changeDirectiveColor()">Подсветить оценки ниже 3</a>

    <p>Найти по имени</p>
    <input class="input" type="text" [(ngModel)]="name">

    <p>Фильтрация студентов</p>
    <p>По году рождения</p>
    От<input type="date" [(ngModel)]="birthdayFrom"> До<input type="date" [(ngModel)]="birthdayTo">
    <p>По оценке</p>
    От<input type="text" [(ngModel)]="gridFrom"> До<input type="text" [(ngModel)]="gridTo">

    <p>Удалить по фамилии</p>
    <input type="text" [(ngModel)]="surnameToDelete">

    <a href="#" class="butt" appColor [styleObject]="_styleObject" (click)="textPopup.style.display='block';" (appColorClick)="changeDirectiveColor()">Удалить</a>
    <a href="#" class="butt" appColor [styleObject]="_styleObject" (click)="groupPopup.style.display='block'; showAddButton()" (appColorClick)="changeDirectiveColor()">Добавить студента</a>
    <a href="#" class="butt" appColor [styleObject]="_styleObject" (click)="groupPopup.style.display='block'; showEditButton()" (appColorClick)="changeDirectiveColor()">Редактировать студента</a>

    <div #textPopup class="popupStyle" id="textPopup">
      <div class="contentForText">
        <span class="close" (click)="textPopup.style.display='none'">&times;</span>
        <p>Уверены, что хотите удалить ученика с фамилией {{surnameToDelete}}?</p>
        <button (click)="deleteStudent(surnameToDelete); textPopup.style.display='none'">Да</button>
      </div>
    </div>

    <div #groupPopup class="popupStyle" id="groupPopup">
      <div class="contentForGroup">
<!--        <span class="close" (click)="groupPopup.style.display='none'">&times;</span>-->
        <a routerLink="" [queryParams]="{debug: this.activatedRoute.snapshot.queryParams['debug']}" routerLinkActive="active">&times;</a>
        <ReacticeForm [usersInfo]="_usersInfo" [addButtonIsShown]="_addButtonIsShown"[editButtonIsShown]="_editButtonIsShown" [selectButtonIsShown]="_selectButtonIsShown"></ReacticeForm>
      </div>
    </div>
  </div>
</div>
